pyTelegramBotAPI==4.22.1
python-dotenv==1.0.0  
psycopg2-binary==2.9.10
sqlalchemy==2.0.36
ujson==5.8.0

# Другие зависимости добавляются по мере разработки, если не конфликтуют с уже используемыми зависимостями в списке выше, а также если не конфликтуют с версией Python 3.13.4